<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="mdw-hw5-BankAccount">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/.apt_src"/>
        <property name="context-root" value="mdw-hw5-BankAccount"/>
        <property name="java-output-path" value="/mdw-hw5-BankAccount/build/classes"/>
    </wb-module>
</project-modules>
